NODE_ENV=development
PORT=3000
APP_NAME=GRX Product Store Backend
APP_VERSION=1.0.0
APP_DESCRIPTION=Feature-based NestJS boilerplate
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=grx_productstore
DB_SSL=false
DB_SYNCHRONIZE=false
DB_LOGGING=false
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1d
